/* Complete the CSS styling according to the provided design */

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url(./table1.jpg);
  background-size: cover;
  box-sizing: border-box;
}

h1 {
  color: goldenrod;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

.container {
  width: 500px;
  height: 400px;
  margin: auto;
  text-align: center;
  background-image: url(./table_green.png);
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  padding-top: 20px;
}

p {
  font-size: 1.5rem;
  color: white;
}

.startGame,
.newCard {
  color: #016f32;
  font-size: 1.5rem;
  font-weight: bold;
  width: 250px;
  height: fit-content;
  padding: 5px 40px;
  background: goldenrod;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.startGame:active,
.newCard:active {
  background-color: rgb(180, 130, 10);
  border: 2px solid rgba(0, 0, 0, 0.5);
}

#message-el {
  font-style: italic;
}
